<%# encoding: utf-8 %>
<% load_example_item! unless $GENERATE # prevent loading the example if we're generating the static pages %>



<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<title>Women's Worlds in Qajar Iran | Item Title</title>
	<meta name="description" content="The archive contains manuscripts, pictures, sound files relating to the history of women in Qajar Iran." />
	<meta name="author" content="Women's World in Qajar Iran">

	<!-- facebook metatags 
    ================================================== -->
	<meta property="og:title" content="Item Title Here" />
	<meta property="og:site_name" content="Women's Worlds in Qajar Iran"/>
	<meta property="og:image" content="LINK_TO_ITEM_THUMB" />
	<link rel="image_src" href="LINK_TO_ITEM_THUMB" />

	<!-- CSS 
  	================================================== -->
	<!-- Skeleton Stuff -->
  <%= stylesheet "base"     %>
	<%= stylesheet "skeleton" %>
	<%= stylesheet "layout"   %>
	
	<!-- WWQI -->
  <%= stylesheet "style", media: "screen", type: "text/css" %> 

	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	
</head>


<body>
	<div id="nonFooter">
		<div class="header">
			<div class="toolbar">
				<div class="container clearfix">
					<a href="/" title="back to home" class="branding box-transition">Women's Worlds in Qajar Iran</a>
					<h1><strong>Women's Worlds</strong> in Qajar Iran</h1>
					<ul>
						<li class="my-selections"> 
							<a href="/archive/my_selections" class="module-link">My Selections <span class="notification">12</span></a>
						</li>
						<li><a class="lang" href="http://fa.qajarwomen.org/archive/detail/1527">فارسی</a></li>
					</ul>
				</div>
			</div>
			<div class="menu">
				<div class="container clearfix">
					<ul class="clearfix">
						<li> <a href="/archive">Browse <span>Explore the archives </span></a></li>
						<li> <a href="/archive/collections">Collections <span> View our holdings</span></a></li>
						<li class="sub"><a href="/contact">contact us</a></li>
						<li class="sub"><a href="/faq">FAQ</a></li>
					</ul>
				</div>
			</div>
			
		</div> <!-- end header -->
		
		<div id="content">
			<div class="container clearfix">
				<!-- rails template content -->

				<div class="archiveBigWrapper clearfix item-details" id="item_details">

          <!-- begin pagination bar -->
          <div class="paginationBar clearfix">
            <!-- AddThis Button BEGIN -->
            <div class="add_this_tools">
              <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_favorites at300b" title="Save to Favorites" href="#"><span class="at300bs at15nc at15t_favorites"></span></a>
                <a class="addthis_button_twitter at300b" title="Tweet This" href="#"><span class="at300bs at15nc at15t_twitter"></span></a>
                <a class="addthis_button_facebook at300b" title="Send to Facebook" href="#"><span class="at300bs at15nc at15t_facebook"></span></a>
                <a class="addthis_button_preferred_1 addthis_button_email at300b" title="Email" href="#"><span class="at300bs at15nc at15t_email"></span></a>
                <a class="addthis_button_compact at300m" href="#"><span class="at300bs at15nc at15t_compact"></span></a>
                <div class="atclear"></div>
              </div>
              <script type="text/javascript">
              var addthis_config =
              {
                data_track_clickback:true,
                ui_language:"en"
              };
              </script>
              <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=qajar"> </script>
            </div>
            <!-- AddThis Button END -->

            <a rel="shadowbox[email];width=450px;height=420px;" title="Email Citation" href="#email-popup" class="left"><img class="icon" src="../public/images/ico_email.gif">  Email Citation</a>
            <a href="/archive/detail/1527/remember" class="left"><img class="icon" src="../public/images/ico_add.gif">  Add to My Selections</a>

            <!-- TODO: Implement subcollections 

            This depends on some modeling which doesn't exist yet.

            <div class="sortnav paginate">
              <div class="pagination">
                <a href="/archive/browser?genre_filter[]=208">Back To Results</a>
                <a href="/archive/detail/1524">Previous Item « </a>
                <span class="counts">2 of 26 items</span>
                <a href="/archive/detail/1520"> » Next Item</a>
              </div>
            </div>

            -->

          </div>
          <!-- end pagination bar -->

          <div class="item-essentials clearfix">
            <div class="four columns item-thumbnail">

              <!-- TODO: Implement subcollections 
                <span class="image-count">24 images</span>
              -->

              <img src="<%= @item.thumbnail %>" alt="<%= @item.title_en_with_date %>">
              <a href="<%= @item.harvard_link %>" rel="shadowbox[gallery]" title="Anthology of Food, [ca. 1865]" class="redButton inline-block">View This Item</a>
            </div>
            <div class="twelve columns">
              <h2><%= @item.title_en_with_date %></h2>
              <p class="description">
                <%= @item.description_en %>
              </p>
            </div>
          </div>
						
						<div id="search_results" class="clearfix">
							
							
							<div id="item_details_wrapper">
								<div class="twelve columns">
								<div class="item_meta">
									<h2>Item Details</h2>
									<ul>

                    <% if @item.has_creator? %>
                      <li class="description">
                        <span>Creator:</span>
                        <%= @item.creator.name_en %>
                      </li>
                    <% end %>


										<li class="description">
											<span>Date:</span>
                      <%= @item.date.try(:representation_en) || "Undated" %>
										</li>

										<li>
											<span>Notes:</span>
                      <%= @item.notes_en %>
										</li>


										<li>
											<span>Dimensions:</span>
                      <%= @item.dimensions_en %>
										</li>

										<li>
											<span>Collections:</span>
                      <% @item.collections.each do |coll| %>
                      <a href="<%= coll.url %>" class="tag" title="more"><%= coll.title_en %></a>
                      <% end %>
										</li>

                    <!-- TODO - Repository assumes that there is one collection, this code is therefore broken
										<li>
											<span>Repository:</span>
                      <%#<%= @item.repository_en %>%>
										</li>

										<li>
											<span>Restrictions:</span>
                      <%#<%= @item.restrictions_en %>%>
										</li>
                    -->

										<li>
											<span>Accessed:</span>
                      <%= @item.created_at_en %>
										</li>
										<li>
											<span>Last Edited:</span>
                      <%= @item.updated_at_en %>
										</li>

										<li>	
                      <span>Record no.:</span> <%= @item.accession_number %>		
										</li>

										<li class="clear">
											&nbsp;
										</li>
									</ul>

								</div>
								</div>
								<div class="four columns">
								<div class="item_related">
									<ul>
										<li class="title">
											Related Tags
										</li>
										<li>
											<span class="block">Genres</span>
                      <% @item.genres.each do |genre| %>
                        <a href="<%= genre.url_to_facet %>" class="tag"><%= genre.name_en %></a>
                      <% end %>
										</li>

										<li>
											<span>People</span>
                      <% @item.people.each do |person| %>
                        <a href="<%= person.url %>" class="tag"><%= person.name_en %></a>
                      <% end %>
										</li>

										<li>
											<span>Subjects</span>
                      <% @item.subjects.each do |subject| %>
                        <a href="<%= subject.url_to_facet %>" class="tag"><%= subject.name_en %></a>
                      <% end %>
										</li>

										<li>
											<span>Places</span>
                      <% @item.places.each do |place| %>
                        <a href="<%= place.url %>" class="tag"><%= place.name_en %></a>
                      <% end %>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>

					<div id="print-popup" style="display:none;">
						<div id="print-popup-content" style="padding:20px;color:#fff;">
							<h2>Print</h2>
							<p>
								This item has 24 images. I want to print:
							</p>
							<form>
								<div class="form_row">
									<input type="radio" name="print_type">
									Cover Page
								</div>
								<div class="form_row">
									<input type="radio" name="print_type">
									All Pages
								</div>
								<div class="form_row">
									<input type="radio" name="print_type">
									from
									<input type="text" name="print_from" id="print_from">
									to
									<input type="text" name="print_from" id="print_to">
								</div>
								<div class="form_row">
									<input type="submit" class="redButton" value="Print">
								</div>
							</form>
						</div>
					</div>

					<div id="email-confirmation-popup" style="display:none;">
						<div id="email-popup-content" style="padding:20px;color:#fff;">
							<h2>Send Citation(s) By Email</h2>
							<span>
								<div id="email_confirmation">
									<p>Your citations were emailed on <br>21 February 2012</p>
								</div>
							</span>
						</div>
					</div>

					<div id="email-popup" style="display:none;">
						<div id="email-popup-content" style="padding:20px;color:#fff;">
							<h2>Send Citation(s) By Email</h2>
							<form accept-charset="UTF-8" action="/archive/email" id="email-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="alH7ycTNWD9obln5P588gAcVth8+ZJQVLB4aPWSQnLU="></div>
								<input id="ids" name="ids" type="hidden" value="1527">
								<div class="form_row">
									<label for="from">Email From</label> <span class="mandatory">*</span>
									<br>
									<input id="from" name="from" type="email" placeholder="example@domain.com" required="" autofocus="">
								</div>
								<div class="form_row">
									<label for="to">Email To</label> <span class="mandatory">*</span>
									<br>
									<input id="to" name="to" type="email" placeholder="example@domain.com" required="">
								</div>
								<div class="form_row">
									Note
									<br>
									<textarea cols="76" id="note" name="note" rows="5"></textarea>
								</div>
								<div class="form_row">
									<input class="redButton" data-disable-with="Sending email..." name="commit" type="submit" value="Send Email">
								</div>
							</form>		<div id="email_confirmation_wrapper">
								<span>
									<div id="email_confirmation">
										<p>* please enter all required fields</p>
									</div>
								</span>
							</div>
						</div>
					</div>

          <!-- XXX: I think the zoomify stuff is going away, this might not be needed -->
					<div id="zoomify-popup" style="display:none;">
						<div id="zoomify-replacement-wrapper">
							<span>
								<div id="zoomify-popup-content" style="color:#fff;">
									<div class="zoomify_header" style="padding-bottom:20px;">
										<ul class="left">
											<li>
												Anthology of Food, [ca. 1865] [1]
											</li>
										</ul>
										<ul class="right">
											<li class="last">
												<a href="http://www.qajarwomen.org/archive/detail/1527/zoomify?zoomify_page=1" class="redButton" data-popup="true">View Full Screen</a>
											</li>
										</ul>
									</div>
									<div class="zoomify_tool_wrapper">
										<div id="zoomify_container_with_gallery">
											<div id="zoomify_pane" align="center" style="height:385pxpx">
												<a id="downloadImage" href="#">Download Image</a>
												<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="zoomify_swf" name="zoomify" width="710px" height="385px">
													<param name="movie" value="/images/zoomify_rotate.swf">
													<param name="bgcolor" value="#FFFFFF">
													<param name="allowFullScreen" value="true">
													<param name="flashvars" value="zoomifyImagePath=http://d19ob2c2hogwg9.cloudfront.net/zoomify/it_1527_1_img&amp;zoomifyToolbarLogo=0&amp;zoomifySplashScreen=0&amp;zoomifyToolbarVisible=2&amp;zoomifyNavigatorVisible=0">
													<!--[if !IE ]>-->
													<object type="application/x-shockwave-flash" data="/images/zoomify_rotate.swf" width="710px" height="385px">
														<param name="bgcolor" value="#FFFFFF">
														<param name="allowFullScreen" value="true">
														<param name="flashvars" value="zoomifyImagePath=http://d19ob2c2hogwg9.cloudfront.net/zoomify/it_1527_1_img&amp;zoomifyToolbarLogo=0&amp;zoomifySplashScreen=0&amp;zoomifyToolbarVisible=2&amp;zoomifyNavigatorVisible=0">
														<!--<![endif]-->
														<div>
															<img alt="Anthology of Food, [ca. 1873 or 1874]" height="380" src="http://d19ob2c2hogwg9.cloudfront.net/previews/it_1527_1.jpg" title="Anthology of Food, [ca. 1873 or 1874]">
															<blockquote>NOTE: Because JavaScript is not enabled on this browser or Flash Player 9.28 or greater is not installed, <br>
																we are only able to show a simple preview image. Please <a href="http://get.adobe.com/flashplayer/" target="_blank">install Flash from Adobe.com</a> <br>
																and/or follow <a href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">Google's online instructions</a> to enable JavaScript for your browser.</blockquote>
															</div>
															<!--[if !IE]>-->
														</object>
														<!--<![endif]-->
													</object>
												</div>

											</div>
											<div id="zoomify_thumb_gallery_fixed">
												<ul>
													<li>
														<a href="/archive/detail/1527?zoomify_page=1&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [1]"><img alt="It_1527_1" class="zoomify_thumb selected" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_1.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=2&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [2]"><img alt="It_1527_2" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_2.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=3&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [3]"><img alt="It_1527_3" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_3.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=4&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [4]"><img alt="It_1527_4" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_4.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=5&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [5]"><img alt="It_1527_5" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_5.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=6&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [6]"><img alt="It_1527_6" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_6.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=7&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [7]"><img alt="It_1527_7" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_7.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=8&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [8]"><img alt="It_1527_8" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_8.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=9&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [9]"><img alt="It_1527_9" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_9.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=10&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [10]"><img alt="It_1527_10" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_10.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=11&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [11]"><img alt="It_1527_11" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_11.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=12&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [12]"><img alt="It_1527_12" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_12.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=13&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [13]"><img alt="It_1527_13" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_13.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=14&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [14]"><img alt="It_1527_14" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_14.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=15&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [15]"><img alt="It_1527_15" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_15.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=16&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [16]"><img alt="It_1527_16" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_16.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=17&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [17]"><img alt="It_1527_17" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_17.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=18&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [18]"><img alt="It_1527_18" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_18.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=19&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [19]"><img alt="It_1527_19" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_19.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=20&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [20]"><img alt="It_1527_20" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_20.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=21&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [21]"><img alt="It_1527_21" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_21.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=22&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [22]"><img alt="It_1527_22" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_22.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=23&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [23]"><img alt="It_1527_23" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_23.jpg"></a>
													</li>				 
													<li>
														<a href="/archive/detail/1527?zoomify_page=24&amp;zoomify_show=true" class="tipsy item_thumb_link" data-remote="true" title="Anthology of Food, [ca. 1865] [24]"><img alt="It_1527_24" class="zoomify_thumb" src="http://d19ob2c2hogwg9.cloudfront.net/pages/it_1527_24.jpg"></a>
													</li>				 
													<ul>
													</ul></ul></div>
												</div>
												<div id="zoomify_pagination">
													<ul class="left">
														<li>
															<span class="prev">Previous
															</span>
														</li>
														<li>
															<span class="next"><a href="/archive/detail/1527?zoomify_page=2&amp;zoomify_show=true" data-remote="true">Next</a>
															</span>
														</li>
														<!-- <li style="padding:4px 10px 0">
														Page 1 of 24
														</li> -->            
														<li>
															<div class="jump_menu page">
																<span>
																	Page:
																</span>
																<form accept-charset="UTF-8" action="/archive/detail/1527" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="alH7ycTNWD9obln5P588gAcVth8+ZJQVLB4aPWSQnLU="></div>
																	<input id="zoomify_page" name="zoomify_page" size="3" type="text" value="1"> of 24
																	<input id="zoomify_show" name="zoomify_show" type="hidden" value="true">
																	<input class="redButton" style="border:none" type="submit" value="Go">
																</form>	                        
															</div>
														</li>
													</ul>
													<ul class="right">

													</ul>
												</div>
											</div>
											<span>
											</span></span></div>
										</div>




										<!-- end rails template content -->

									</div> <!-- end container -->
								</div><!-- end content -->
							</div> <!-- end nonFooter -->
							<div id="pageFooterWrapper">
								<div id="pageFooter">
									<div class="columnWrapperFooter group">
										<div class="leftWrapperFooter">
											<ul class="footerNav">
												<li>
													<a href="/about">About</a>
												</li>
												<li>
													<a href="/credits">credits</a>
												</li>
												<li>
													<a href="/permissions">permissions</a>
												</li>
												<li>
													<a href="/links">Related Links</a>
												</li>
												<li>
													<a href="/donate">How to Give</a>
												</li>
											</ul>
										</div><!-- closes leftWrapperFooter -->
										<div class="rightWrapperFooter">
											<a class="noimage" href="http://www.harvard.edu" target="_blank">
												<img alt="Harvard Logo" src="/images/harvard.gif"></a>
												<p>
													Copyright © 2010  WWQI. All rights reserved.
												</p>
											</div><!-- closes rightWrapperFooter -->
										</div><!-- closes columnWrapperFooter group -->
									</div>
								</div>




							</body>
							</html>
